@tailwind base;
@tailwind components;
@tailwind utilities;

.h-screen-dynamic {
  height: 100dvh;
}

.touch-action-none {
  touch-action: none;
}

@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}
